.header {

    &__top {
        height: 100px;
    }

    &__logo {
        
    }

    &__link {
        background-color: #0674ec;
        width: 140px;
        height: 36px;
        color: #fff;
        font-family: 'Quicksand'sans-serif;
        font-size: 14px;
        text-align: center;
        border-radius: 22px;
        display: inline-block;
        padding-top: 10px;
        margin-top: 32px;
    }

    &__icons {
        display: flex;
        flex-direction: row;
    }

    &__counter {
        color: white;
        border-radius: 50%;
        position: absolute;
        text-align: center;
        padding: 4px;
        width: 22px;
        height: 22px;
        font-size: 14px;
        font-family: "Quicksand";
    }

    &__counter--red {
        background-color: rgb(255, 106, 108);
    }

    &__counter--green {
        background-color: #62d03b;
    }

    &__counter--blue {
        background-color: #0674ec;
    }

    &__bottom {
        height: 80px;
    }

    &__search {
    }

    &__search-button {
        position: absolute;
        background-color: #0674ec;
        width: 70px;
        border-radius: 22px;
        height: 46px;
        font-size: 15px;
        border-color: #0674ec;
        font-size: 15px;
        color: rgb(255, 255, 255);
        line-height: 2;
    }

}

.lnr {
    color: rgb(126, 143, 161);
    font-size: 20px;
    font-family: "Linearicons";
}

.user {

    &__info {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        margin-right: 15px;
    }

    &__name {
        font-size: 16px;
        font-family: "Quicksand";
        color: #333333;
        font-weight: 700;
    }

    &__balance {
        color: #0674ec;
        font-size: 16px;
        font-family: "Quicksand";
        font-weight: 400;
    }

    &__avatar {
        width: 50px;
        height: 50px;
    }
}

.menu {
    font-size: 15px;
    font-family: "Quicksand";
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    padding-left: 15px;
    padding-top: 35px;
    list-style-type: none;

    &__link {
        color: #333333;
        margin-right: 25px;
    }
}

input[type=search] {
    background-color: #fff;
    border: 1px, rgb(217, 223, 229), solid;
    border-radius: 20px;
    width: 358px;
    height: 44px;
    font-size: 15px;
    font-family: "Quicksand";
    color: rgb(137, 143, 150);
    line-height: 2;
    padding-left: 25px;
}

input::placeholder {
    font-family: "Quicksand";
    color: #333333;
    font-weight: 400;
    font-size: 15px;
}