.header {

    &__top {
        min-height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo img {
        margin-left: 15px;
    }

    &__link {
        background-color: #0674ec;
        padding: 10px 20px;
        color: #fff;
        font-size: 14px;
        text-align: center;
        border-radius: 29px;

        &:focus {
            font-weight: 900;
        }

        &:active {
            font-size: 16px;
        }

        &:hover {
            transform: scale(1.2);
        }
    }

    &__icons {
        margin-right: 30px;
    }

    &__icon-first {
        margin: 0 30px;
    }

    &__counter {
        color: white;
        border-radius: 14px;
        position: absolute;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        padding: 4px 7px;
        top: -18px;

        &--red {
            background-color: rgb(255, 106, 108);
            left: 10px;
        }

        &--green {
            background-color: #62d03b;
            left: 13px;
        }

        &--blue {
            background-color: $blue;
            left: 15px;
        }
    }

    &__icon {
        margin-right: 30px;
        position: relative;
    }

    &__bottom {
        min-height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__search {
        position: relative;
    }

    &__search-button {
        background-color: #0674ec;
        border-radius: 29px;
        font-size: 15px;
        height: 44px;
        width: 70px;
        border-color: transparent;
        font-size: 15px;
        position: absolute;
    }

    &__search-icon {
        color: #fff;
    }

    &__flex-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.lnr-alarm,
.lnr-envelope,
.lnr-cart {
    color: rgb(126, 143, 161);
    font-size: 20px;
}

.user {
    display: flex;

    &__info {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        margin-right: 15px;
        justify-content: center;
    }

    &__name {
        color: #333333;
        font-weight: 700;
    }

    &__balance {
        color: #0674ec;
        text-align: left;
        padding-right: 46px;
        padding-top: 5px;
    }

    &__avatar {
        width: 50px;
        height: 50px;
        margin: 0 20px;
    }
}

.menu {
    font-size: 15px;
    color: #333333;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    padding-left: 15px;
    list-style-type: none;

    &__link {
        color: #333333;
        margin-right: 25px;
        font-weight: 700;

        &:hover {
            color: $blue;
        }

        &:active {
            font-size: 20px;
        }
    }
}

.header__search-input {
    background-color: #fff;
    border: 1px, rgb(217, 223, 229), solid;
    border-radius: 20px;
    min-width: 358px;
    height: 44px;
    font-size: 15px;
    color: rgb(137, 143, 150);
    line-height: 2;
    padding-left: 25px;
}

.header__search-input::placeholder {
    color: #333333;
    font-size: 15px;
}

/* Не подключился файл _hero-section.scss поэтому пока тут стили написала */

.hero {
    &__top {
        color: $white;
        text-align: center;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    }

    &__title {
        text-transform: capitalize;
        padding-top: 180px;
        font-size: 60px;
    }

    &__title-bold {
        font-weight: 500;
    }

    &__text-white {
        font-weight: 500;
        font-size: 20px;
        padding-top: 35px;
    }

    &__btns {
        margin-top: 70px;
    }

    &__btn {
        margin: 0 15px;
        border: 1px solid $white;
        color: $white;

        &:hover {
            background-color: $white;
            color: #0674ec;
        }
    }

    &__search-btn {
        background-color: #0674ec;
        padding: 10px 25px;
        border-radius: 10px;
    }

    &__flex {
        &-direction {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            text-align: center;
            color: $dark;
            margin-top: 190px;

            &-item {
                min-width: 361px;
                min-height: 403px;

                &:hover {
                    border-radius: 4px;
                    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
                }
            }
        }

        &-img {
            padding-bottom: 35px;
        }

        &-title {
            margin-bottom: 25px;
            color: black;
            font-size: 25px;
        }

        &-text {
            line-height: 1.875;
        }

        &-direction-item {
            margin: 0 20px;
        }
    }
}