<header>

    <div class="header__inner bg-gray">

        <div class="container">

            <div class="header__top">

                <a href="#" class="header__logo">
                    <img src="../images/logo.png" alt="">
                </a>

                <a href="#" class="header__link">
                    Become a Seller
                </a>

                <div class="header__icons">

                    <a href="#" class="header__icon">
                        <span class="lnr lnr-alarm"></span>
                        <span class="header__counter header__counter--red">25</span>
                    </a>

                    <a href="#" class="header__icon">
                        <span class="lnr lnr-envelope"></span>
                        <span class="header__counter header__counter--green">6</span>
                    </a>

                    <a href="#" class="header__icon">
                        <span class="lnr lnr-cart"></span>
                        <span class="header__counter header__counter--blue">2</span>
                    </a>

                </div>

                <a href="#" class="user">
                    <span class="user__avatar" style="background-image: url(../images/avatar.png);"> </span>
                    <div class="user__info">
                        <span class="user__name">
                            Taofiq Hakim
                        </span>
                        <span class="user__balance">
                            $20.45
                        </span>
                    </div>
                </a>

            </div>

        </div>

    </div>

    <div class="header__inner">

        <div class="container">

            <div class="header__bottom">

                <nav class="header__nav">
                    <ul class="menu">

                        <li class="menu__item">
                            <a href="#" class="menu__link">home</a>
                        </li>

                        <li class="menu__item">
                            <a href="#" class="menu__link">all products</a>
                        </li>

                        <li class="menu__item">
                            <a href="#" class="menu__link">wordpress</a>
                        </li>

                        <li class="menu__item">
                            <a href="#" class="menu__link">features</a>
                        </li>

                        <li class="menu__item">
                            <a href="#" class="menu__link">pages</a>
                        </li>

                    </ul>
                </nav>

                <div class="header__search">
                    <form action="" class="form header__form">
                        <label>
                            <input type="search" class="header__search-input" placeholder="Search product here...">
                        </label>
                        <button class="header__search-button">
                            <span class="lnr lnr-magnifier"></span>
                        </button>
                    </form>
                </div>

            </div>

        </div>

    </div>


</header>