<header>

    <div class="header--grey">
        <div class="container">
            <div class="header__logo">
                Mart <span class="header__logo--blue">Place</span>
            </div>

            <div class="header__flex">
                <button class="header__button">
                    Become a Seller
                </button>
            </div>
        </div>

        <div class="header__icons">
            <div class="header__icon1">
                <span class="lnr lnr-alarm"></span>
            </div>

            <div class="header__icon2">
                <span class="lnr lnr-envelope"></span>
            </div>

            <div class="header__icon3">
                <span class="lnr lnr-cart"></span>
            </div>
        </div>

        <div class="header__img">

        </div>

        <div class="header__user__content">
            <div class="header__user__content__name">
                Taofiq Hakim
            </div>
            <div class="header__user__content__money">
                $20.45
            </div>
        </div>
    </div>

    <div class="container">
        <div class="header__menu">
            <div class="header__menu__item">HOME
            </div>
            <div class="header__menu__item">all products</div>
            <div class="header__menu__item">wordpress</div>
            <div class="header__menu__item">festures</div>
            <div class="header__menu__item">Pages</div>
        </div>

        <form class="header__form">
            <p><input type="search"  placeholder="Search product here..."> 
            <input type="submit" value=""></p>
           </form>
    </div>
</header>