<hero-section class="hero">

    <div class="hero__inner bg-blue">
        <div class="container">
            <div class="hero__top">

                <div class="hero__title">
                    create your own <div class="hero__title-bold">digital product marketplace</div>
                </div>

                <div class="hero__text-white">
                    MartPlace is the most powerful, & customizable template for Easy Digital Downloads Products
                </div>

                <div class="hero__btns">
                    <a href="#" class="btn hero__btn">View All Products</a>
                    <a href="#" class="btn hero__btn">Popular Products</a>
                </div>
            </div>
        </div>
    </div>

    <div class="hero__inner bg-white">
        <div class="container">
            <div class="hero__bottom">

                <!--  <form>
                    <p><select name="#">
                                <option value="1">All Categories</option>
                                <option value="2">1</option>
                                <option value="3">1</option>
                        </select></p>
                    <p><input type="submit" class="hero__search-btn"  value="Search Now"></p>
                </form> -->

                <div class="hero__flex-direction">

                    <div class="hero__flex-direction-item">
                        <img src="../images/hero_img1.png" alt="#" class="hero__flex-img">
                        <div class="hero__flex-title">
                            Best UX Research
                        </div>
                        <div class="hero__flex-text">
                            Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque
                            the mattis, leo quam aliquet diam
                            congue is laoreet elit metus.
                        </div>
                    </div>

                    <div class="hero__flex-direction-item">
                        <img src="../images/hero_img2.png" alt="#" class="hero__flex-img">
                        <div class="hero__flex-title">
                            Fully Responsive
                        </div>
                        <div class="hero__flex-text">
                            Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque
                            the mattis, leo quam aliquet diam
                            congue is laoreet elit metus.
                        </div>
                    </div>

                    <div class="hero__flex-direction-item">
                        <img src="../images/hero_img3.png" alt="#" class="hero__flex-img">
                        <div class="hero__flex-title">
                            Buy & Sell Easily
                        </div>
                        <div class="hero__flex-text">
                            Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque
                            the mattis, leo quam aliquet diam
                            congue is laoreet elit metus.
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</hero-section>